@import "../../styles/sizes.css";
@import "../../styles/display.css";


.debug{
    min-height: 5rem;
    min-width: 10rem;
}

.button__post{
    height: 38px;
    width: 69px;
    align-self: flex-end;
}

.img__formatting{
    width: 52px;
    height: 52px;
}

.img__formatting-2{
    width: 52px;
    height: 52px;
    border: solid 1px white;
    border-radius: 100%;
}


.post__fullComment{
    max-width: 100%;
    text-align: left;
}

.post__fullComment > p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.like__div{
    height: 30px;
    width: 46.76px;
    gap: 7px;
}

.aside{
    width: 25%;
}



@media (max-width:800px){
    .main__mobile{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .position__sticky{
        position: absolute;
        top: 440px;
    }

    .position__post__mobile{
        position: relative;
        bottom: -300px;
    }

    .follower__mobile{
        display: flex;
        flex-direction: row; 
        overflow-x: scroll;
        min-height: 10rem;
        gap: 40px;
    }

    .size__width{
        width: 100%;
    }

    .aside{
        width: 100%;
    }

    .modal{
        position: relative;
        width: 90%;
        max-height: 70%;
        height: fit-content;
        overflow-y: auto;
    }

    .modal__closeButton{
        position: relative;
        top: 0;
        left: 0;
    }

    .modal__div-1{
        justify-content: space-between; 
    }

    .flex_column_mobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .followers__users{
        height: fit-content;
        max-height: 25px;
    }
}


