.div-1__wrapper{
    height: 450px;
}

.button__post{
    height: 38px;
    width: 69px;
    align-self: flex-end;
}

.img__formatting{
    width: 52px;
    height: 52px;
}

.aside__li{
    width: 65%;
}

.post__fullComment{
    max-width: 100%;
    text-align: left;
}

.post__fullComment > p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width:800px){
    .main__mobile{
        flex-wrap: wrap
    }

    .half__w{
        width: 100%;
    }

    .teste{
        width: 100%;
    }
}


