.button{
    color: var(--whiteFixed);
    font-weight: 600;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.063rem;
    padding: 0 0.75rem;
    cursor: pointer;
}

.button__primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.button__primary:hover{
    background-color: var(--secondary-color);
    color: var(--whiteFixed);
    border-color: var(--secondary-color);
}

.button__grey{
    background-color: var(--gray-2);
    border-color: var(--gray-2);
    height: 38px;
    width: 103px;
}

.button__grey:hover{
    background-color: var(--gray-1);
    border-color: var(--gray-1);
}

.button__white{
    background-color: var(--whiteFixed);
    border-color: var(--whiteFixed);
    color: var(--gray-2);
}

.button__white:hover{
    background-color: var(--gray-6);
    border-color: var(--gray-6);
}

.button__outline{
    border: 1px var(--gray-2) solid;
    border-radius: 2px;
    background-color: var(--whiteFixed);
    color: var(--gray-2);
    width: 68px;
    height: 28px;
}

.button__outline:hover{
    border-color: var(--primary-color);
    background-color: #EDF2FF;
    color: var(--primary-color);
}

.button__outline-active{
    width: 89px;
    height: 28px;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--whiteFixed);
}

.button__disabled{
    background-color: var(--gray-5);
    color: var(--gray-4);
    border-color: var(--gray-5);
}

.button__like{
    background-color: transparent;
    border: none;
    fill: var(--tertiary-color);
    border-radius: 20%;
    height: 34px;
    width: 35px;
    cursor: pointer;
}

.button__like:hover{
    fill: var(--tertiary-color);
}

.button__like:focus{
    fill: var(--tertiary-color);
}

.button__like:active{
    fill: var(--tertiary-color);
}



