.flex__row{
    display: flex;
}

.flex__column{
    display: flex;
    flex-direction: column;
}

.flex__wrap{
    flex-wrap: wrap;
}

.align__center{
    align-items: center;
}

.align__start{
    align-items: flex-start;
}

.align__end{
    align-items: flex-end;
}

.justify__center{
    justify-content: center;
}

.justify__between{
    justify-content: space-between;
}

.justify__evenly{
    justify-content: space-evenly;
}

.justify__around{
    justify-content: space-around;
}

.justify__end{
    justify-content: flex-end;
}

.justify__start{
    justify-content: flex-start;
}