.navbar{
    background-color: var(--gray-2);
    padding: 1.75rem 0;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
}

.navbar-links{
    display: flex;
    gap: 1rem;
}

.navbar-link{
    background-color: transparent;
    color: var(--whiteFixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-3);
    border: none;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--gray-3);
}